.encabezado{
    background: linear-gradient(to right, #ff6600, #ffcc00);
}

.titulo{
    font-size: 25px;
    padding-left: 30px;
    font-weight: bold;
    
}

.link{
    text-decoration: none;
    color: black;
}

.botonInicio{
    font-size: 20px;
}



.botonProductos{
    font-size: 20px;
}

.botonCategorias{
    font-size: 20px;
}

.linkCategorias{
    text-decoration: none;
    color: black;
}

.dropdownComponentes{
    font-size: 20px;
}



.formulario{
    display: flex;
    padding-right: 30px;
}

.busqueda{
    margin-right: 20px;
}

.botonBuscar{
    font-size: 20px;
}

